/* ====================================== */
/* ================ GLOBAL ============== */
/* ====================================== */
html {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: rgb(74, 74, 74);
	font-size: 8px;
	}

.container {
	max-width: 1440px;
	margin: 0 auto;
	}

.col-left {width: 60%;}
.col-right {width: 40%;}

.uppercase {text-transform: uppercase;}
.bold {font-weight: 900;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	line-height: 6rem;
	}
h1 {
	font-size: 6rem;
	margin-bottom: 2rem;
	font-weight: 900;
	}

p {
	font-size: 2rem;
	line-height: 4rem;
	}

button {
	margin: 3rem 0;
	padding: 1rem 10rem;
	background-color: rgb(74, 74, 74);
	color: rgb(255, 255, 255);
	font-size: 2rem;
	text-align: center;
	transition: background-color 100ms ease-in;
	border: none;
	outline: none;
	}
	button:hover {background-color: rgb(56, 182, 238);}


/* ====================================== */
/* ================ HEADING ============= */
/* ====================================== */
heading {
	height: 8rem;
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
.brand {
	display: flex;
	align-items: center;
	}
	.brand .icon {
		height: 4rem;
		margin-right: 1rem;
		}
	.brand .logotype {
		font-family: 'Lato' Helvetica, Arial, sans-serif;
		font-size: 3rem;
		}

nav li {
	display: inline-block;
	margin-right: 2rem;
	}
	nav li:last-child {margin-right: 0;}

nav a {
	font-size: 2rem;
	text-decoration: none;
	color: rgb(74, 74, 74);
	transition: color 100ms ease-in;
	}
	nav a:hover {color: rgb(56, 182, 238);}

nav img {
	height: 4rem;
	}

nav.mobile {
	display: none;
	width: 100%;
	}

/*********** TABLET SPECIFIC ***********/
@media only screen and (max-width: 767px) {
	.brand .logotype {display: none;}
	}

/*********** MOBILE SPECIFIC ***********/
@media only screen and (max-width: 470px) {
	.brand {display: none;}
	nav.desktop {display: none;}
	
	nav.mobile {
		display: flex;
		justify-content: space-between;
		}
	}


/* ====================================== */
/* ================ HERO ================ */
/* ====================================== */
.hero {
	padding: 4rem;
	background-color: rgb(216,216,216);
	}
	.hero .container {
		display: flex;
		}

.hero-image {
	background-image: url('../images/banner.jpg');
	background-size: cover;
	height: 60rem;
	margin-right: 2.5rem;
	}

.hero .col-right {
	display: flex;
	align-items: center;
	}
	.message {
		margin-left: 2.5rem;
		}
		.message p {
			font-size: 3rem;
			font-weight: 500;
			}
@media only screen and (width: 470px) {

}

